body{
    font-family: 'lato';
    background: rgb(143,200,235);
    background: linear-gradient(90deg, rgba(143,200,235,1) 0%, rgba(70,117,192,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#btn-new-task{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task{
    width: 20rem;
    border-radius: 1rem;
}

#btn-new-task{
    background-color: aliceblue;
    color: #4675c0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
}

#btn-new-task:hover{
    background-color: rgb(194, 202, 208);
}

#toDoList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#toDoList li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between; /* Alinha o texto e os botões à esquerda e à direita */
    transition: 1s;
    align-items: center;
}

#toDoList button + button {
    margin-left: 10px; /* Adicione o espaço entre os botões */
}

#content--body li{
    border-radius: 1rem;
    padding: .4rem;
}

#toDoList li:hover{
    background-color: aliceblue;
    transition: 1s;
    border-radius: 1rem;
    padding-left: 1rem;
}

.btnOk{
    border: none;
    background-color: rgb(56, 180, 56);
    color: white;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.btnOk:hover{
    background-color: rgb(21, 121, 21);
}

.btnClose{
    background-color: rgb(192, 47, 47);
    color: white;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.btnClose:hover{
    background-color: rgb(31, 0, 0);
}
